/*Base header*/
header{
    width:75%;
    position:fixed;
    top:0%;
    padding-right:20%;
    display:inline;
    font-size:250%;
    transition:all 0.4s ease;/*all=  what is affected(highet width) then time and then speed of animation*/
}
/*Scrolled header*/
header.sticky {
        background: white;
        width: 100%;
        font-size: 150%;
        padding-right:0%;
}
/*Drop down design*/
#cuPage{
    font-weight:bold;
    color:black;
}
  ul {
      padding-right:0;
      list-style: none;
      margin: 0;
      
  }
  ul li {
      display: block;
      float: right;

  }
  li ul {
      display: none;
      font-size:x-large;

  }
  ul li a {
      display: block;
      background: white;
      padding-left:40px;
      padding-bottom:0px;
      text-decoration: none;
      white-space: nowrap;
      color:black;
  }
  /**/
  ul li a:hover {
      background: white;
  }
  li:hover ul {
      display: block; 
      position: absolute;/*Sets it by the first set position*/

  }
  li:hover li {
      float: none;/*How the list shows on hovring*/
  }
  li:hover a {
      background: white;

  }
  li:hover li a:hover {
      background:#19B5FE;

  }
  #drop-nav li ul li {
      border-top: 0px;

  }
  /*General design*/
body{
    padding-top:3%;
    margin-left:5%;
    margin-right:2%;
    direction:rtl;
}
p{
    width:90%;
    margin:5%;
    font-size:xx-large;
}
footer{
    margin:40px
}
a{
    color:black;
    text-decoration:none;
}
/*Back to top button*/
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;/*Removing space from somewhere*/
	position: fixed;
	z-index: 999;/*Place the img based on z*/
	left: 20px;
	bottom: 20px;
	background: #27AE61 url("Pics/up-arrow.png") no-repeat center 43%;/*Setting the BG for the button*/
	border-radius: 30px;
}